<div class="info" id="car" [ngClass]="{invisible: !isCarVisible}">
    <h2>{{"The American Dream" | uppercase}}</h2>
    <p>The largest car in the world is the "American Dream," a colossal limousine created by renowned car customizer Jay
        Ohrberg. Originally constructed from six 1976 Cadillac Eldorado limousines, it measured an impressive 60 feet
        (18.28 meters) when it was first completed in 1986. However, Ohrberg later extended the vehicle to a staggering
        100 feet (30.5 meters), making it the longest car in the world and earning it a spot in the Guinness Book of
        World Records.</p>
    <img src="assets/car.png" alt="car" width="150" height="40">
</div>

<div class="info" id="plane" [ngClass]="{invisible: !isPlaneVisible}">
    <h2>{{"Antonov An-225 Mriya" | uppercase}}</h2>
    <p>The largest airplane in the world is the Antonov An-225 Mriya. This massive aircraft, originally designed to
        carry the Soviet Buran space shuttle, boasts a wingspan of 88.4 meters (290 feet) and a length of 84 meters (275
        feet). The An-225 is capable of transporting oversized cargo and has a maximum takeoff weight of around 640,000
        kg (1.4 million pounds). Only one An-225 was ever built, and it remains in service today, used primarily for
        transporting heavy and bulky loads​</p>
    <img src="assets/plane.png" alt="plane" width="150" height="50">
</div>

<div class="info" id="ship" [ngClass]="{invisible: !isShipVisible}">
    <h2>{{"Icon of the Seas" | uppercase}}</h2>
    <p>As of 2024, the largest ship in the world is the "Icon of the Seas," a cruise ship by Royal Caribbean. This ship,
        which is set to embark on its maiden voyage in January 2024, measures an impressive 1,198 feet in length and can
        accommodate up to 7,600 passengers, along with 2,805 staterooms spread across its 20 decks. The ship weighs
        around 250,000 tons and features a variety of amenities, including the largest water park at sea, multiple
        pools, numerous dining options, and various themed neighborhoods designed to enhance the passenger experience​
    </p>
    <img src="assets/ship.png" alt="ship" width="150" height="100">
</div>