.info{
    width: 30%;
    margin-bottom: 60px;
    margin-top: 50px;
    color: #fff;
    font-family: system-ui, sans-serif;
    padding: 20px;
    background-color: #ff6b71;
    transform: perspective(500px) rotateY(calc(10deg*var(--_i, -1)));
    outline-offset: .1em;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    transition: 1s;
}

.info:hover,
.info:focus-visible {
    --_p: 0%;
    --_i: 1;
}

p{
    margin-bottom: 40px;
}

img{
    justify-content: center;
    align-items: center;
}

h2{
    text-decoration: underline;
}
